.img-thumbnail {
    transition: transform 0.2s;
    width: 100%; /* Full width */
    height: auto; /* Maintain aspect ratio */
}

.img-thumbnail:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* style.css */

.modal-body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#photoToEdit {
    max-width: 100%;
    max-height: 80vh;
}

/* CSS untuk kontrol rotasi */
.rotate-control {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease; /* Transisi yang halus */
}